[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pytest = "*"
request = "*"
jsonify = "*"
pylint = "*"
pyjwt = "*"
coveralls = "*"
gunicorn = "*"
"psycopg2" = "*"
nose = "*"

[dev-packages]

[requires]
python_version = "3.6"
